{% extends 'base.html' %}

{% block title %}
     Приветствие
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Hello, user!</h1>
    <p>Это приложение создано в учебных целях и не предназначено для коммерческого использования (однако я польщён, что
        вы все же решили его использовать). Оно очень простое и даже наивное, но ведь надо с чего-то начинать)<br>
        Меня зовут Андрей. <br>
        Я работаю инженером-программистом в научном
        центре Белмикросистемы. Занимаюсь программированием высокочастотного измерительного оборудования с исользование
        графического языка LabVIEW, а также анализом и обработкой баз данных измерерний с использованием LabVIEW и Python.
        <br>
        В настоящим момент активно изучаю сферу разработки веб-приложений с использованием Python. Считаю это
        интерессным направлением для своего дальнейшего профессионального роста. Данное web приложение является превым
        из серии учебных проектов, посвященных web-разработке с использованием Python.<br>
        С моими остальными проектами вы можете ознакомиться на <a href="https://github.com/Andrew-Rand">GitHub</a>.<br>
        Благодарю за внимание, возвращайтесь на галвную страницу.
        </p>
    <a href="{{ url_for('main') }}">Main page</a>
    </div>
{% endblock %}
