{% extends 'base.html' %}

{% block title %}
     Main page
{% endblock %}

{% block content %}
<div class="container">
  {% if tasks|length > 0 %}

    <h3>Список заданий</h3>
    {% for task in tasks%}
    <div class="alert alert-info">
      <h4>{{ task.header}}</h4>
      <p><b>Дата: {{ task.date.date() }} Время: {{ task.date.time() }}</b><p>
      <h5>{{ task.intro}}</h5>
      <a href="/tasks/{{ task.id }}" class="btn btn-primary btn-lg btn-block" aria-pressed="true">Подбробно</a>
    </div>
    {% endfor %}
  {% else %}
    <p>Поздравлеем! Вы разобрали все свои задачи и достигли целей<br>
        Скорее добавляйте новые задачи или позвольте себе немного отдохнуть:)</p>
  {% endif %}


</div>
{% endblock %}